@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './vars.scss';
@import './markdown.scss';
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

::-webkit-scrollbar {
  width: 10px;
  &-thumb {
    background: #888;
    border-radius: 10px;
    &:hover {
      background: #555;
    }
  }
  &-track {
    background: transparent;
    border-radius: 10px;
  }
}

