@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fonts';
@import './vars';
@import './markdown.scss';
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

::-webkit-scrollbar {
  width: 10px;
  &-thumb {
    background: #888;
    border-radius: 10px;
    &:hover {
      background: #555;
    }
  }
  &-track {
    background: transparent;
    border-radius: 10px;
  }
}

h2 {
  @extend .omni-font-xl;
}

.custom-scroll {
  max-height: calc(100vh - 7rem);
  padding-top: -5px;
  overflow-y: auto;
}

.collection-block {
  position: relative;
  display: flex;
  width: 26.25rem;
  height: 12.8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background-color: #F7F7F8;
  padding: 0.5rem 0.75rem 1rem 0.75rem;

  &-header {
    display: flex;
    padding-bottom: 0px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;

    .collection-fav {
      width: 0.9375rem;
      height: 0.83331rem;
      flex-shrink: 0;
      align-items: flex-end;
    }
  }
  &-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
    align-content: flex-start;
    color: var(--medium-grey, #505050);
    text-overflow: ellipsis;
    @extend .omni-font-l-medium;
  }
  &-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    flex: 1 0 0;
    align-items: center;
    align-content: flex-start;
    align-self: stretch;
    overflow: hidden;
    color: var(--medium-grey, #505050);
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    @extend .omni-font-m-regular;
  }
}

.collection-api {
  display: flex;
  width: 48rem;
  height: 10rem;
  padding: 1rem 1rem;
  align-items: flex-start;
  border-radius: 0.375rem;
  border-width: 1px;
  background-color: white;
  gap: 0.5rem;
  .collection-content {
    display: flex;
    flex-direction: column;
    .collection-action {
      display: flex;
      flex-direction: row;
      padding: 0.28875rem 0.5775rem;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 0.28875rem;
      flex-wrap: nowrap;

      .btn {
        display: inline-flex;
        flex-direction: row;
        padding: 0.5rem 1rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 0.375rem;
        font-feature-settings: 'clig' off, 'liga' off;
        cursor: pointer;
        @extend .omni-font-s-medium;
        &-add {
          background: var(--accent-colour, #67BE61);
          color: var(--white, #FFF);

          &:hover {
            background: #505050;
          }
        }

        &-revoke {
          background: var(--light-grey-300, #EF4036);
          color: var(--medium-grey, #fff);

          &:hover {
            background: #505050;
          }
        }
      }
    }
  }


}


.collection-extensions
{
  width: 400px !important;
  height: 250px !important;
}

.collection {

  display: flex;
  width: 17rem;
  height: 23.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: #F7F7F8;
  padding: 0.5rem 0.75rem 1rem 0.75rem;



  &-header {
    display: flex;
    padding-bottom: 0px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;

    .collection-credential {
      display: flex;
      gap: 0.375rem;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-shrink: 0;
    }

    .collection-fav {
      width: 0.9375rem;
      height: 0.83331rem;
      flex-shrink: 0;
      align-items: flex-end;
    }
  }

  &-cover {
    display: flex;
    padding-bottom: 0px;
    width: 15.75rem;
    height: 10rem;
    border-radius: 0.25rem;
    flex-direction: column;
    align-items: center;

    img {
      width: 15.75rem;
      height: 10rem;
      border-radius: 0.25rem;
      object-fit: cover;
    }
  }

  &-title, &description {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    align-self: stretch;
    overflow: hidden;
    align-content: flex-start;
    color: var(--medium-grey, #505050);
    text-overflow: ellipsis;
    align-items: center;
  }

  &-title {
    -webkit-line-clamp: 2;
    @extend .omni-font-l-medium;
  }

  &-description {
    -webkit-line-clamp: 3;
    flex: 1 0 0;
    font-feature-settings: 'clig' off, 'liga' off;
    @extend .omni-font-s-regular;
  }

  &-tags {
    display: flex;
    padding-bottom: 0px;
    align-items: center;
    align-content: center;
    gap: 4px;
    align-self: stretch;
    flex-wrap: wrap;
    text-overflow: ellipsis;

    .tag {
      display: flex;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      color: #000;
      overflow: hidden;
      cursor: pointer;
      @extend .omni-font-s-regular;
      &.namespace {
        background: #C6C6C6;
      }
      &.default {
        background: #C6C6C6;
      }
      &.computer-vision {
        background: #fbf8cc;
      }
      &.image-generation {
        background: #fde4cf;
      }
      &.image-manipulation {
        background: #ffcfd2;
      }
      &.communication {
        background: #f1c0e8;
      }
      &.input {
        background: #f1c0e8;
      }
      &.output {
        background: #f1c0e8;
      }
      &.audio-generation {
        background: #cfbaf0;
      }
      &.audio-processing {
        background: #cfbaf0;
      }
      &.document-processing {
        background: #c0e8f1;
      }
      &.data-transformation {
        background: #c0e8f1;
      }
      &.education {
        background: #bae8cf;
      }
      &.utilities {
        background: #bae8cf;
      }
      &.translation {
        background: #c4a3bf;
      }
      &.text-generation {
        background: rgb(255, 229, 125);
      }
      &.text-manipulation {
        background: rgb(255, 229, 125);
      }
      &.security {
        background: #ff7f50;
      }
    }
  }

  &-action {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    align-self: stretch;
    padding-top: 0rem;

    .btn {
      display: flex;
      flex-direction: row;
      padding: 0.5rem 1rem;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-radius: 0.375rem;
      font-feature-settings: 'clig' off, 'liga' off;
      cursor: pointer;
      @extend .omni-font-s-medium;

      &-primary {
        background: var(--accent-colour, #F19100);
        color: var(--white, #FFF);

        &:hover {
          background: #505050;
        }
      }

      &-secondary {
        background: var(--light-grey-300, #DEDEDF);
        color: var(--medium-grey, #505050);

        &:hover {
          background: #e8e9eb;
          border: #505050;
          color: var(--accent-colour, #505050);
        }
      }

      svg {
        margin-right: 0.5rem;
      }

    }
  }
  &-loadmore {
    display: flex;
    width: 15.5rem;
    height: 23.75rem;
    max-width: 15.5rem;
    max-height: 23.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 0.625rem;
    align-self: stretch;
    color: var(--neutral-grey, #808080);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    @extend .omni-font-m-regular;

    svg {
      width: 5rem;
      height: 5rem;
      flex-shrink: 0;
    }
    span {
      display: flex;
      padding: 1.5rem 0rem;
      justify-content: center;
      align-items: center;

    }

  }
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.search__field {
  display: flex;
  width: 30vw;
  height: $icon-size;
  background-color: transparent;
	padding: .5em ($icon-size) .5em 0;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333;
  border-radius: 0;
  cursor: pointer;
  &:focus {
    color: #2b2b2b;
    cursor: default;
    ~ .search__icon {
      background-color: transparent;
      cursor: pointer;
      pointer-events: auto;
		}
  }

  @extend .omni-font-m-regular;
}

.search__icon {
  display: flex;
  background-color: transparent;
  width: $icon-size;
  height: $icon-size;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  @extend .omni-font-m-regular;
}

.search__field::placeholder {
  color: #333333;
}

// FIELD LABELING
.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*=hidden] {
  color: darken($main-color, 30%);
  top: -(round(calc($icon-size / 2.5)));
  opacity: 1;
  visibility: visible !important;
  @extend .omni-font-m-regular;
}
.search__field:-moz-placeholder[style*=hidden] {
  color: darken($main-color, 30%);
  top: -(round(calc($icon-size / 2.5)));
  opacity: 1;
  visibility: visible !important;
  @extend .omni-font-m-regular;
}
.search__field::-moz-placeholder[style*=hidden] {
  color: darken($main-color, 30%);
  top: -(round(calc($icon-size / 2.5)));
  opacity: 1;
  visibility: visible !important;
  @extend .omni-font-m-regular;
}
.search__field:-ms-input-placeholder[style*=hidden] {
  color: darken($main-color, 30%);
  top: -(round(calc($icon-size / 2.5)));
  opacity: 1;
  visibility: visible !important;
  @extend .omni-font-m-regular;
}